<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сравнение фильмов</title>
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">FILMASH</h1>
        <p class="lead">Сервис сравнения фильмов =)</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="text-center">
                <img src="static/TheMatrix.jpg" class="rounded" alt="Матрица" style="height: 300px">
                <p>Матрица</p>
            </div>
        </div>
        <div class="col-sm">
            <p>VS</p>
        </div>
        <div class="col-sm">
            <div class="text-center">
                <img src="static/TheMatrixReloaded.jpg" class="rounded" alt="Матрица" style="height: 300px">
                <p>Матрица Перезагрузка</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>